fastapi
uvicorn
pydantic
requests
faiss-cpu
python-dotenv
langchain
langchain-google-genai
PyMuPDF
pdfplumber
pytesseract
rank_bm25
qdrant-client
sentence-transformers
asyncio
google-generative-ai==0.3.2
google-generative-ai
