fastapi
uvicorn
pydantic
requests
faiss-cpu
python-dotenv
langchain
langchain-google-genai
PyMuPDF
pdfplumber
pytesseract
rank_bm25
qdrant-client
sentence-transformers
asyncio
google-generativeai>=0.8.0,<0.9.0
tiktoken
nltk
validators
