fastapi
uvicorn
pydantic
requests
faiss-cpu
python-dotenv
langchain
langchain-google-genai
PyMuPDF
pdfplumber
pytesseract
rank_bm25
qdrant-client
sentence-transformers
asyncio
git+https://github.com/google/generative-ai-python.git@v0.2.2

